body {
  background-color: #ebe0d6;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.container {
  position: fixed;
  top: 10%;
  left: 31%;
}
.container__title-box--title {
  color: #663300;
  letter-spacing: 16px;
  font-weight: bold;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  font-size: 100px;
  text-shadow: 1px 1px grey;
}
.container__error-box {
  visibility: hidden;
  border: 2px solid red;
  background-color: lightcoral;
  margin: 2%;
}
.container__form {
  margin-left: 160px;
  background-color: #ffffff;
  padding: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
}
.container__form--input-box {
  margin-top: 2%;
}
.container__form--input-box label {
  letter-spacing: 3px;
}
.container__form--input-box input {
  padding: 10px;
  margin-top: 4%;
  text-align: center;
  background: #f2f2f2;
}
.container__form--input-box input:hover {
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
.container__form--bttns-box {
  display: flex;
  flex-direction: row;
}
.container__form--bttns-box button {
  margin-top: 4%;
  margin-left: 9%;
  background-color: #ebe0d6;
  color: grey;
  font-weight: 90;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: 0.3s ease 0s;
}
.container__form--bttns-box button:hover {
  letter-spacing: 3px;
  background-color: #ebe0d6;
  color: white;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 769px) {
  .container__title-box--title {
    color: #663300;
    letter-spacing: 9px;
    font-weight: bold;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    font-size: 30px;
    text-shadow: 1px 1px grey;
  }
  .container__form {
    margin-left: 0;
    background-color: #ffffff;
    padding: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.57);
  }
  .container__form--input-box {
    margin-top: 2%;
  }
  .container__form--input-box label {
    letter-spacing: 3px;
  }
  .container__form--input-box input {
    padding: 10px;
    margin-top: 4%;
    text-align: center;
    background: #f2f2f2;
  }
  .container__form--input-box input:hover {
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
  .container__form--bttns-box {
    display: flex;
    flex-direction: row;
  }
  .container__form--bttns-box button {
    margin-top: 4%;
    margin-left: 9%;
    background-color: #ebe0d6;
    color: grey;
    font-weight: 90;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s ease 0s;
  }
  .container__form--bttns-box button:hover {
    letter-spacing: 3px;
    background-color: #ebe0d6;
    color: white;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
}

/*# sourceMappingURL=signin.css.map */
